@media only screen and (max-width: 1000px) {
    .player-section img {
        width: 100%;
        height: 200px;
    }
    .placement {
        width: 80%;
    }
} 

@media only screen and (max-width: 550px) {
    .player-section img {
        width: 100%;
        height: 200px;
    }
    .score-status {
        margin: 0 1rem;
    }
    .wins {
        padding: .5rem 1rem .5rem .5rem;
    }
    .player-btn span {
        font-size: 2.5rem;
    }
} 
