<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>No Audio | RPS Gaming</title>
        <meta name="description" content="Simple Game">
        <link rel="stylesheet" href="CSS/style.css">
        <link rel="stylesheet" href="CSS/responsive.css">
    </head>
    <body>
        <!-- Score display -->
        <div class="score-status">
            <span class="wins"> Points: 0 </span>
        </div>
        <!-- /Score display -->
        
        <!-- The main website -->
        <div class="container">
            
            <!-- The player section -->
            <section class="player">
                <header>
                    <div class="player-btn">
                        <span> Player 1 </span>
                    </div>
                </header>
                <section class="player-section">
                    <div>
                        <img src="src/rock 1.jpg" id="rock">
                    </div>
                    <div>
                        <img src="src/paper.jpg" id="paper">
                    </div>
                    <div>
                        <img src="src/scissor.jpg" id="scissor">
                    </div>
                    <span>
                        <img src="src/double scissors.jpg" id="d-scissor">
                    </span>
                </section>
            </section>
            <!-- /The player section -->
            
            <!-- The rock paper scissor section -->
            <section class="card-slot">
                
                <section class="placement">
                    <div id="dropzone">
                        <img src="src/placers 2.jpg" width="100%" id="dropzone">
                    </div>
                    <div>
                        <img src="src/exchange.png" class="resize">
                    </div>
                    <div>
                        <img src="src/placers 2.jpg" width="100%">
                    </div>
                        <div class="timing-box">
                            <span id="timer" class="timer">00:05s</span>
                        </div>
                </section>
            </section>
            <!-- /The rock paper scissor section -->
            
            <!-- The computer section -->
            <section class="computer">
                <section class="player-section">
                    <div>
                        <img src="src/rock 1.jpg">
                    </div>
                    <div>
                        <img src="src/paper.jpg">
                    </div>
                    <div>
                        <img src="src/scissor.jpg">
                    </div>
                    <div>
                        <img src="src/double%20scissors.jpg">
                    </div>
                </section>
                <header>
                    <div class="player-btn">
                        <span> Computer </span>
                    </div>
                </header>
            </section>
            <!-- /The computer section -->
        </div>
    </body>
    <script src="JS/timer.js"></script>
</html>
